@import "normalize";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";

$fontFamily: 'Raleway';
$defaultShadow: 1px 1px 2px rgba(0,0,0,0.5);
$hrColor: rgba(0,0,0,.15);
$hrSize: 10px;
$bkgLarge: url('../img/bkg.jpg');
$bkgSmall: url('../img/bkg-small.jpg');

@mixin headerText {
	font-family: $fontFamily;
	color: rgba(255,255,255,1);
	text-shadow: $defaultShadow;
}

.top{
	margin-bottom: 1em;
	box-shadow: $defaultShadow;
	@media #{$screen} {
		background: $bkgSmall;
		background-size: cover;
	}
	@media #{$small} {
		background: $bkgLarge;
		background-size: cover;
	}
}
.header{
	@include headerText;
	background: rgba(0,0,0,0.3);
	box-shadow: $defaultShadow;
	@media #{$screen} {
		font:{
			size: 2.5em;
			weight: 300;
		}
	}
	@media #{$small} {
		font:{
			size: 5em;
			weight: 100;
		}
	}
}
.small-header{
	@include headerText;
	margin-bottom: 2em;
	@media #{$screen} { 
		font:{
			size: 1em;
			weight: 300;
		} 
	}
	@media #{$small} { 
		font:{
			size: 2em;
			weight: 100;
		} 
	}	
}
.group-header{
	font-family: $fontFamily;
	color: rgba(0,0,0,1);
	@media #{$screen} { 
		font:{
			size: 1.25em;
			weight: 300;
		} 
	}
	@media #{$small} { 
		text-shadow: $defaultShadow;
		font:{
			size: 2em;
			weight: 100;
		} 
	}
}
.header-container {
	max-width: 45em;
}
.image-row{
	@media #{$screen} { 
		max-width: 20em;	 
	}
	@media #{$small} { 
		max-width: 25em;		 
	}
}
.link-image{
	box-shadow: $defaultShadow;
}
.hrule{
	height: 1px;
	background: $hrColor;
	margin: 1em;
}
.hrule-inner{
	background-color: white;
	border-width: 1px;
	border-style: solid;
	position: absolute;
	left: 50%;
	border-color: $hrColor;

	@media #{$screen} { 
		border-radius: $hrSize;
		height: $hrSize/2;
		width: $hrSize/2;
		margin-left: -$hrSize/4;
		margin-top: -$hrSize/4;
	}
	@media #{$small} { 
		border-radius: $hrSize*2;
		height: $hrSize;
		width: $hrSize;
		margin-left: -$hrSize/2;
		margin-top: -$hrSize/2;
	}
}
 