@import "normalize";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";

$fontFamily: 'Raleway';
$fontWeightThin: 200;
$fontWeightThick: 400;
$fontSizeNormal: 1em;
$fontSizeH5: 1.25em;
$defaultShadow: 1px 1px 2px rgba(0,0,0,0.5);
$subtleShadow: 1px 1px 1px rgba(0,0,0, 0.1);
$hrColor: rgba(0,0,0,.15);
$hrSize: 10px;
$squareImageWidth: 135px;
$bkgLarge: url('../img/bkg.jpg');
$bkgSmall: url('../img/bkg-small.jpg');
$darkGray: #a3a3a3;
$mediumGray: #dfdfdf;
$lightGray: #f2f2f2;
$darkRed: #C15B5F;

@mixin headerText {
	font-family: $fontFamily;
	color: rgba(255,255,255,1);
	text-shadow: $defaultShadow;
}

body{
	p, li{
		font:{
			family: $fontFamily;
			weight: $fontWeightThick;
			size: $fontSizeNormal;
		}
	}
	h5{
		margin:{
			top: 1.5em;
			bottom: 0.25em;
		}
		font:{
			family: $fontFamily;
			weight: $fontWeightThick;
			size: $fontSizeH5;
		}
	}
	a{
		color: $darkRed;
		&:hover{
			color: $darkRed;
		}
	}
}

//HEADER===================================================
.header-top{
	box-shadow: $defaultShadow;
	width: 100%;
	@media #{$screen} {
		background: $bkgSmall;
		background-size: cover;
	}
	@media #{$small} {
		background: $bkgLarge;
		background-size: cover;
	}
}
.header-container {
	background: rgba(0,0,0,0.3);	
	@media #{$screen} { 
		max-width: 20em; 
	}
	@media #{$small} { 
		max-width: 45em;
	}
	h1{
		@include headerText;
		margin-bottom: 0;
		@media #{$screen} {
			font:{
				size: 2.5em;
				weight: $fontWeightThick;
			}
		}
		@media #{$small} {
			font:{
				size: 5em;
				weight: $fontWeightThin;
			}
		}
	}
	img{
		border: 1px solid;
		border-color: $mediumGray;
		@media #{$screen} { 
			 width: $squareImageWidth/2;
		}
		@media #{$small} { 
			width: $squareImageWidth;
		}
	}
	h3{		
		@include headerText;
		margin: .5em;
		color: $mediumGray;
		@media #{$screen} { 
			font:{
				size: $fontSizeNormal;
				weight: $fontWeightThick;
			} 
		}
		@media #{$small} { 
			font:{
				size: $fontSizeNormal*1.5;
				weight: $fontWeightThin;
			} 
		}	
	}
}

//GROUPS===================================================
.group-header{
	font:{
		family: $fontFamily;
		weight: $fontWeightThick;
	}
	margin-top: 1em;
	color: rgba(0,0,0,1);
	font-size: $fontSizeNormal*2;
}
.hrule{
	height: 1px;
	background: $hrColor;
	margin: 1em;

	span{
		background-color: white;
		border-width: 1px;
		border-style: solid;
		position: absolute;
		left: 50%;
		border-color: $hrColor;

		@media #{$screen} { 
			border-radius: $hrSize;
			height: $hrSize/2;
			width: $hrSize/2;
			margin-left: -$hrSize/4;
			margin-top: -$hrSize/4;
		}
		@media #{$small} { 
			border-radius: $hrSize*2;
			height: $hrSize;
			width: $hrSize;
			margin-left: -$hrSize/2;
			margin-top: -$hrSize/2;
		}
	}
}

//RESUME===================================================
.resume-container{
	p{
		margin-bottom: 0;
	}
}

//PROJECTS=================================================
.project-container{
	margin-top: 1em;
	img{
		max-width: $squareImageWidth;
		margin-top:.2em;
		border: 1px solid;
		border-color: $mediumGray;
		box-shadow: $subtleShadow;
	}
	h5{
		margin:{
			top:0;
			bottom:0;
		}
	}
	p{
		font-size: .85em;
		color: $darkGray;
	}	
	ul{
		list-style-type: none;
		margin-left: 0;
	}
}
.tech-tags{
	list-style-type: none;
	div{
		display: inline-block;
		font-size: .75em;
		padding:{
			left: 4px;
			right: 4px;
		}
		color: black;
		background: $lightGray;
		border: 1px solid;
		border-color: $mediumGray;
	}
}

//LINKS====================================================
.email-me{
	display: inline-block;
	width: $squareImageWidth;
	font-size: 1.25em;
	padding:{
		left: 8px;
		right: 8px;
	}
	color: black;
	background: $lightGray;
	border: 1px solid;
	border-color: $mediumGray;
	box-shadow: $subtleShadow;
	&:hover{
		color: $darkRed;
	}
}
.link-images{
	li img{
		border: 1px solid;
		border-color: $mediumGray;
		box-shadow: $subtleShadow;
		width: $squareImageWidth;
	}
}



 