@import "normalize";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";

$fontFamily: 'Raleway';
$defaultShadow: 1px 1px 2px rgba(0,0,0,0.5);
$subtleShadow: 1px 1px 1px rgba(0,0,0, 0.1);
$hrColor: rgba(0,0,0,.15);
$hrSize: 10px;
$bkgLarge: url('../img/bkg.jpg');
$bkgSmall: url('../img/bkg-small.jpg');

@mixin headerText {
	font-family: $fontFamily;
	color: rgba(255,255,255,1);
	text-shadow: $defaultShadow;
}

//HEADER===================================================
.top{
	box-shadow: $defaultShadow;
	width: 100%;
	@media #{$screen} {
		background: $bkgSmall;
		background-size: cover;
	}
	@media #{$small} {
		background: $bkgLarge;
		background-size: cover;
	}
}
.header-container {
	max-width: 45em;
}
.header{
	@include headerText;
	background: rgba(0,0,0,0.3);
	box-shadow: $defaultShadow;
	@media #{$screen} {
		font:{
			size: 2.5em;
			weight: 300;
		}
	}
	@media #{$small} {
		font:{
			size: 5em;
			weight: 100;
		}
	}
}
.small-header{
	@include headerText;
	margin-bottom: 2em;
	@media #{$screen} { 
		font:{
			size: 1em;
			weight: 300;
		} 
	}
	@media #{$small} { 
		font:{
			size: 2em;
			weight: 100;
		} 
	}	
}

//GROUPS===================================================
.group-header{
	font-family: $fontFamily;
	margin-top: 1em;
	color: rgba(0,0,0,1);
	@media #{$screen} { 
		font:{
			size: 1.25em;
			weight: 400;
		} 
	}
	@media #{$small} { 
		text-shadow: $subtleShadow;
		font:{
			size: 2em;
			weight: 300;
		} 
	}
}
.hrule{
	height: 1px;
	background: $hrColor;
	margin: 1em;
}
.hrule-inner{
	background-color: white;
	border-width: 1px;
	border-style: solid;
	position: absolute;
	left: 50%;
	border-color: $hrColor;

	@media #{$screen} { 
		border-radius: $hrSize;
		height: $hrSize/2;
		width: $hrSize/2;
		margin-left: -$hrSize/4;
		margin-top: -$hrSize/4;
	}
	@media #{$small} { 
		border-radius: $hrSize*2;
		height: $hrSize;
		width: $hrSize;
		margin-left: -$hrSize/2;
		margin-top: -$hrSize/2;
	}
}

//PROJECTS=================================================
.project-container{
	margin-top: 1em;
	font-family: $fontFamily;
}
.project-image{
	margin-top:.2em;
	border: 1px solid;
	border-color: #dfdfdf;
	box-shadow: $subtleShadow;
	max-height: 100%;
}
.project-header{
	margin:{
		top:0;
		bottom:0;
	}
	font:{
		family: $fontFamily;
		weight: 400;
		size: 1.25em;
	}
}
.project-info{
	font-size: .75em;
	color: #a3a3a3;
}
.desc-list{
	list-style-type: none;
}
.description{
	font-size: .85em;
}
.tech-tag{
	display: inline-block;
	font-size: .75em;
	padding:{
		left: 4px;
		right: 4px;
	}
	color: #3c3c3c;
	background: #F2F2F2;
	border: 1px solid;
	border-color: #dfdfdf;
}
//RESUME===================================================
.resume-header{
	@extend .project-header;
	margin-top: 1em;
}
.resume-body{
	margin-bottom: 1em;
	font:{
		size: .85em;
		family: $fontFamily;
	}
}

//LINKS====================================================
.image-row{
	@media #{$screen} { 
		max-width: 18em;	 
	}
	@media #{$small} { 
		max-width: 25em;		 
	}
}
.link-image{
	box-shadow: $subtleShadow;
	@media #{$screen} { 
		height: 73px;
		width: 73px; 
	}
	@media #{$small} { 
		height: 110px;
		width: 110px; 
	}
}
.link-image-small{
	box-shadow: $subtleShadow;
	@media #{$screen} { 
		height: 25px;
		width: 25px; 
	}
	@media #{$small} { 
		height: 45px;
		width: 45px; 
	}
}


 